.JoinUsContainer{
    width: 100%;
    height:auto;
    background-color: #000;
    margin-bottom: 1%;
}
.CombineText{
    display: flex;
}
.TextContentJoin{
    background-color: #000;
    width:70%;
    height:auto;
}

.TextContentTwoJoin{
    background-color: rgb(54, 185, 185);
    width:35%;
    height:50vh;
    margin-bottom: 2%;

} 

.ImgJoin {
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.ImgJoin img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-bottom: 2%;
}

.JoinUsText {
    background-color: #000;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s ease;
}

.JoinUsText.isVisible {
    opacity: 1;
    animation: slideFromLeft 1s ease;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
.JoinUsText > * {
    max-width: 100%;
    max-height: 100%;
}

.TextDecoration{
    color: #fff;
    font-size: 2.3rem;
}


.ButtonJoinCSS {
    margin-left: 3%;
}


.AboutUsText {
    background-color: #000;
    width: 80%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    opacity: 0;
    transition: opacity 1s ease;
}

.AboutUsText.isVisible {
    opacity: 1;
    animation: slideFromRight 1s ease;
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.AboutUsText > * {
    max-width: 100%;
    max-height: 100%;
}

.AboutTextContentJoin{
    background-color: #000;
    width:65%;
    height:auto;
    display: block;
}

.ParaDecoration{
    color: #fff;
}

.BannerContainer {
    width: 100%;
    height: 50vh;
    background-color: #18072B;
    position: relative; 
    margin-bottom: 3%;
    overflow: hidden;
}

.BannerImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
